.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 0;
  margin-top: 30px;
  list-style: none;
}

.list > li {
  width: 100%;
  border: 1px solid #000;
}

.list > li > a {
  display: block;
  padding: 10px;
}

.btn {
  display: block;
  width: 200px;
  padding: 4px 10px;
  border: 1px solid #000;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
}

.blog {
  margin-top: 30px;
}